body {
  background: #000000;
 
}

.animated-text {
      stroke-dasharray: 300;
      stroke-dashoffset: 300;
      animation: drawText 2s ease forwards;
    }

    @keyframes drawText {
      to {
        stroke-dashoffset: 0;}}


.courgette-regular {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
}





