/* Contact.css */

.main {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #000000;
    color: white;
  }
  
  .left {
    flex: 1;
    padding: 20px;
    margin-top: 60px;
    height: 75vh;
  }
  
  .left h1 {
    font-size: 60px;
    margin-bottom: 10px;
    color: #FFFFFF;
  }

  .left h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #FFFFFF;
  }

.left img{
    margin-right: 10px;
}

  
  .details {
    margin-top: 80px;
  }
  
  .details .mail,
  .details .phone {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #FFFFFF; /* Details text color white */
    margin-bottom: 15px;
  }
  
  .details img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    filter: brightness(0) saturate(100%) invert(71%) sepia(71%) saturate(378%) hue-rotate(152deg) brightness(93%) contrast(88%);
    /* SVG color #66FCF1 */
  }
  
  .right {
    flex: 1;
    padding: 20px;
    margin-top: 60px;
    background-color: #0B0C10;
    border-radius: 10px;
    padding: 30px;
    height: 75vh;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .contact-form label {
    font-size: 16px;
    color: #FFFFFF;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #45A29E;
    border-radius: 5px;
    background-color: #1F2833;
    color: white;
  }
  
  .contact-form textarea {
    height: 80px;
  }
  
  .send-button {
    padding: 10px;
    font-size: 16px;
    background-color: #45A29E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition:  0.3s;
  }
  
  .send-button:hover {
    box-shadow: 0 0 5px #15645e;
      }
  
      .idea {
        background: linear-gradient(to right, #45A29E, #66FCF1); 
        -webkit-background-clip: text; /* Required for Chrome/Safari */
        background-clip: text; /* For other browsers */
        color: transparent; /* Make the text color transparent so the gradient shows */
              }
      

.proj{
        font-size: 80px;
}      