.logo-bar {
  width: 100%;
  overflow: hidden;
  background-color: #000;
  display: flex;
  align-items: center;
}

.logo-track {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
  white-space: nowrap;
}
.lexend-peta-font {
  font-family: "Lexend Peta", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.logo-item {
  flex: 0 0 auto;
  margin: 0 2rem; /* Space between logos */
  font-size: 3rem; /* Size of the logos */
  color: white;
  white-space: nowrap;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}