@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$easeTime: .15s;
$blockSize: 70px;
$colorText: #345;
$colorTextLighter: #567;
$colorTextLightest: #789;

body {
  margin: 0;
  background-color: #f2f4f6;
  overflow-x: hidden;
  font-family: 'Open Sans';
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: $blockSize $blockSize/4 0 $blockSize/4;
  display: grid;
  grid: auto-flow $blockSize*6 / repeat(auto-fit, minmax($blockSize*5, $blockSize*5));
  grid-gap: $blockSize/4;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.item {
  position: relative;
  width: $blockSize;
  height: $blockSize;
  display: grid;
  grid: 1fr / 1fr;
  perspective: 500px;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  &__hover-icon {
    position: absolute;
    height: $blockSize;
    width: $blockSize;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    font-size: 2.2em;
    color: white;
    opacity: 0;
    z-index: 10000;
    pointer-events: none;
  }
  &__image {
    position: absolute;
    bottom: 0;
    left: -$blockSize*2;
    height: $blockSize*3;
    width: $blockSize*5;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    z-index: 999;
    -webkit-transform: translateZ(0.01px);
    pointer-events: none;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: 0.8;
    }
  }
  &__description {
    position: absolute;
    top: $blockSize;
    left: -$blockSize*2;
    height: $blockSize;
    width: $blockSize*5;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.85;
    z-index: 999;
    -webkit-transform: translateZ(0.01px);
    a {
      text-decoration: none;
    }
    p {
      font-size: 1.03em;
      letter-spacing: 0.03em;
      color: $colorText;
    }
    i {
      display: block;
      position: absolute;
      right: $blockSize/2;
      top: $blockSize/2;
      transform: translate(50%, -50%);
      margin-left: 1em;
      font-size: 2em;
      color: $colorTextLighter;
      transition: color 0.1s linear;
    }
    &:hover {
      i {
        color: $colorTextLightest;
      }
    }
  }
  .flip-up {
    transform: rotate3D(1, 0, 0, 180deg);
  }
  .flip-right {
    transform: rotate3D(0, 1, 0, 180deg);
  }
  .flip-down {
    transform: rotate3D(1, 0, 0, 180deg);
  }
  .flip-left {
    transform: rotate3D(0, 1, 0, -180deg);
  }
}

.icon-switch {
  &__outer {
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: opacity $easeTime linear 0s;
  }
  &__inner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity $easeTime*3 linear $easeTime*8;
    i {
      opacity: 0.5;
    }
  }
}

.image-switch {
  &__outer {
    height: 100%;
    transition: opacity $easeTime linear 0s;
  }
  &__inner {
    height: 100%;
    transition: opacity $easeTime*3 linear $easeTime*6;
  }
}

.description-switch {
  &__outer {
    height: 100%;
    width: 100%;
    transition: opacity $easeTime linear 0s;
  }
  &__inner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: opacity $easeTime*3 linear $easeTime*6;
  }
}

.flap {
  position: absolute;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  transform-style: preserve-3d;
  z-index: -1;
  p {
    margin: auto;
    font-family: sans-serif;
    color: white;
    visibility: hidden;
  }
}

.flip-up {
  transform-origin: 50% 0%;
}

.flip-right {
  transform-origin: 100% 50%;
}

.flip-down {
  transform-origin: 50% 100%;
}

.flip-left {
  transform-origin: 0% 50%;
}

.level0 {
  background-color: #4488cc;
}

.level1 {
  background-color: #4466cc;
  transition: transform $easeTime linear 0s;
}

.level2 {
  background-color: #4477cc;
  transition: transform $easeTime linear $easeTime;
}

.level3 {
  background-color: #4499cc;
  transition: transform $easeTime linear $easeTime*2;
}

.level4 {
  background-color: #55aacc;
  transition: transform $easeTime linear $easeTime*3;
}

.level5 {
  background-color: #55bbcc;
  transition: transform $easeTime linear $easeTime*4;
}

.level6 {
  background-color: #55cccc;
  transition: transform $easeTime linear $easeTime*5;
}

.level7 {
  background-color: #55ddcc;
  transition: transform $easeTime linear $easeTime*6;
}

.level8 {
  background-color: #55ffcc;
  transition: transform $easeTime linear $easeTime*7;
}

.level8--alt {
  background-color: #55eecc;
  transition: transform $easeTime linear $easeTime*7;
}

.blank {
  background-color: #cde;
}

@media (min-width: 650px) and (orientation: landscape) {
  .item {
    .flip-up {
      transform: rotate3D(1, 0, 0, 0deg);
    }
    .flip-right {
      transform: rotate3D(0, 1, 0, 0deg);
    }
    .flip-down {
      transform: rotate3D(1, 0, 0, 0deg);
    }
    .flip-left {
      transform: rotate3D(0, 1, 0, 0deg);
    }
    &__description {
      pointer-events: none;
    }
    &:hover {
      .flip-up {
        transform: rotate3D(1, 0, 0, 180deg);
      }
      .flip-right {
        transform: rotate3D(0, 1, 0, 180deg);
      }
      .flip-down {
        transform: rotate3D(1, 0, 0, 180deg);
      }
      .flip-left {
        transform: rotate3D(0, 1, 0, -180deg);
      }
      .icon-switch {
        &__outer {
          opacity: 0;
        }
        &__inner {
          opacity: 0;
        }
      }
      .image-switch {
        &__outer {
          opacity: 1;
        }
        &__inner {
          opacity: 1;
        }
      }
      .description-switch {
        &__outer {
          opacity: 1;
        }
        &__inner {
          opacity: 1;
        }
      }
      .item__description {
        pointer-events: auto;
      }
    }
  }
  
  .item__hover-icon {
    opacity: 1;
  }
  
  .icon-switch {
    &__outer {
      opacity: 1;
    }
    &__inner {
      opacity: 1;
    }
  }
  
  .image-switch {
    &__outer {
      opacity: 0;
    }
    &__inner {
      opacity: 0;
    }
  }
  
  .description-switch {
    &__outer {
      opacity: 0;
    }
    &__inner {
      opacity: 0;
    }
  }
}